packages:
  yum:
    gcc: []
    gcc-c++: []
    python3-devel: []
    openssl-devel: []
    libffi-devel: []
    mariadb-devel: []
    mysql-devel: []

commands:
  01_install_mysql_libs:
    command: |
      yum -y install mysql-devel mariadb-devel gcc python3-devel
    test: "[ ! -f /usr/bin/mysql_config ] && exit 0 || exit 1"