option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ElectronicComponentWarehouseManagementSystemApp/wsgi.py
    NumProcesses: 1
    NumThreads: 8
    StaticFiles: /static/=static/
    
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ElectronicComponentWarehouseManagementSystemApp.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
    
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    RetentionInDays: 7
    DeleteOnTerminate: false
    
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_collectstatic:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py collectstatic --noinput
    ignoreErrors: true
    
  02_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py migrate --noinput
    leader_only: true
    
  03_validate_django:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py check --deploy --fail-level WARNING
    ignoreErrors: true