option_settings:
  aws:elasticbeanstalk:application:environment:
    # Django Settings
    DJANGO_DEBUG: "False"
    DJANGO_ALLOWED_HOSTS: ".elasticbeanstalk.com,localhost,127.0.0.1"
    
    # AWS Settings
    AWS_STORAGE_BUCKET_NAME: "your-bucket-name"
    AWS_S3_REGION_NAME: "us-east-1"
    
    # Database Settings (Set these in EB Environment Variables)
    # RDS_HOSTNAME: "awseb-e-wpzchaqmza-stack-awsebrdsdatabase-ilmutu59ngxv.c5rcme3upuyj.us-east-1.rds.amazonaws.com"
    # RDS_DB_NAME: "mysql"
    # RDS_USERNAME: "ebuser"
    # RDS_PASSWORD: "yourpassword"
    # RDS_PORT: "3306"