option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ElectronicComponentWarehouseManagementSystemApp.wsgi:application

packages:
  yum:
    git: []

container_commands:
  01_migrate:
    command: "python3 manage.py migrate --noinput"
    leader_only: true

  02_createsuperuser:
    command: |
      echo "Waiting for database to be available..."
      until python3 manage.py dbshell -c '\q'; do
        echo "Database not ready, sleeping 5s..."
        sleep 5
      done
      echo "Database ready, creating superuser..."
      python3 manage.py shell < .ebextensions/create_superuser.py
    leader_only: true
