option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ElectronicComponentWarehouseManagementSystemApp.wsgi:application

packages:
  yum:
    git: []

container_commands:
  01_migrate:
    # Activate EB virtualenv and run migrations
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true

  02_createsuperuser:
    # Activate EB virtualenv and create superuser
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py shell < .ebextensions/create_superuser.py"
    leader_only: true
